{% extends 'base.html'%}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
    <br>
        <h1>Login</h1>
    <hr>
    <form action="/admin" method="POST">
        <label for="username"> Username : </label>
        <br>
            <input type="text" name="username" id="username" placeholder='Enter username' class="form-control">
        <br>
        <label for="username">Password : </label>
        <br>
            <input type="password" name="password" id="password" placeholder="Enter password" class="form-control">
        <br>

        {% if show_error %}   
            <span style="color: red;">Incorrect username or password</span><br><br>
        {% endif %}

        <input style="display:inline;" type="submit" value="Login" class="btn btn-primary">
        
        <a href="/blog" class="btn btn-danger">Cancel</a>
    </form>
    <hr>
{% endblock %}